@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

#logo {
  font-family: 'Titillium Web', sans-serif;
  color: #1877f2;
  cursor: default;
}

body,
html {
  height: 100%;
}

body {
  background: #f0f2f5;
}

.fill-height {
  min-height: 100%;
  height: auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}

#login-card {
  box-shadow: 5px 2px 20px 3px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 7px;
}

.login-button {
  width: 100%;
  font-weight: bolder;
  font-size: larger;
}

.create-div {
  display: flex;
  justify-content: center;
}

#login-text {
  font-weight: 400;
}

::placeholder {
  font-weight: lighter;
}

.signup-button,
.create-button {
  font-weight: bold;
  font-size: large;
}

.signup-button {
  width: 250px;
}

.card-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.already-link {
  color: #1877f2;
}

.already-link:hover {
  text-decoration: none;
  color: #1877f2;
}

.month,
.day,
.year {
  border-radius: 3px;
  width: 30%;
  height: 40px;
}

.day,
.year {
  margin-left: 10px;
}

.very-small {
  font-weight: lighter;
}

.meta-svg {
  fill: white;
  cursor: pointer;
  transition: 300ms fill ease-in-out;
}

.meta-svg:hover {
  fill: rgb(228, 228, 228);
}

.nav-dropdown:hover {
  background: red;
}

.navbar-light .navbar-brand {
  color: #ffffff;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  transition: 300ms color ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(228, 228, 228) !important;
}

/* COPIED PART */
.post-card {
  border: none;
}

.ellipsis {
  color: #a09c9c;
}

.post-hr {
  color: #a09c9c;
  margin-top: 4px;
  margin-bottom: 8px;
}

.muted-color {
  color: #a09c9c;
  font-size: 13px;
}

.ellipsis i {
  margin-top: 3px;
  cursor: pointer;
}

.icons i {
  font-size: 25px;
}

.icons .fa-heart {
  color: red;
}

.icons .fa-smile-o {
  color: yellow;
  font-size: 29px;
}

.rounded-image {
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.name {
  font-weight: 600;
}

.comment-text {
  font-size: 12px;
}

.status small {
  margin-right: 10px;
  color: blue;
}

.form-control-post {
  border-radius: 26px;
}

.comment-input {
  position: relative;
}

.fonts {
  position: absolute;
  right: 13px;
  top: 8px;
  color: #a09c9c;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
}

.interaction {
  border-radius: 7px;
  cursor: pointer;
}

.interaction:hover {
  background: rgb(228, 228, 228);
}
